*{
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color:#1E0606;
}

a{
    text-decoration: none;
    color:#1E0606;
}

.nodate{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hidden{
    font-size: 0;
    width: 0;
    height: 0;
}

/*Стилизация хедера*/
.header{
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
}

.header__search{
    background: url(../img/search.svg) no-repeat center;
}

.header__button{
    font-weight: 700;
}

/*Стилизация футера*/

.footer{
    background-color: #434343;
}

.footer__title{
    color:#AAAAAA;
}

.footer__link{
    color:white;
}

.footer__input{
    background: #666666;
}